.white-breadcrumb {
  background-color: white !important;
  margin-top: 15px !important;
}

.portlet {
  max-height: 350px;
}

.navbar-nav {
  align-items: center !important;
}

.navbar-fixed-top {
  top: 0;
  position: fixed !important;
  right: 0;
  left: 0;
  z-index: 1;
}
